<div id="gro">
    <div class="card-column">
        <div class="item" style="width:300">
        <img class="item-img-top" src="assets/food1.jpg"alt="item">
        <div class="item-body">
            <h4 class="item-title">Food</h4>
            <a href="#food" class="btn btn-primary">Select</a>
        </div>
        </div>
        <div class="item" style="width:300">
            <img class="item-img-top" src="assets/fruits.jpg"alt="item">
            <div class="item-body">
                <h4 class="item-title">Fruits</h4>
                <a href="#fru" class="btn btn-primary">Select</a>
            </div>
        </div>
            
    </div>
</div>
