<section class="product">
  <h2><strong>Products</strong></h2>
<div class="row">
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body"  >
              <img class="item-img-top" src="assets/dress1.jpg" alt="item" height="300" width="300">
              <h5 class="card-title">MAXI</h5>
              
              <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/dress2.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">TEES & PLAZZO</h5>
              
              <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/dress3.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">KURTIS</h5>
             
              <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
    <div class="card text-black bg-color:white">
        <div class="card-body">
            <img class="item-img-top" src="assets/dress4.jpg" alt="item"height="300" width="300">
            <h5 class="card-title">TOPS & BOTTOMS</h5>
           
            <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
        </div>
    </div>
</div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/dress5.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">KURTHI SET</h5>
             
              <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
          </div>
      </div>
  </div>

  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/dress6.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">TOPS</h5>
              <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
    <div class="card text-black bg-color:white">
        <div class="card-body">
            <img class="item-img-top" src="assets/dress7.jpg" alt="item"height="300" width="300">
            <h5 class="card-title">FORMALS</h5>
            <a href="prdt3" class="btn btn-primary" routerLink="/Select">Select</a>
        </div>
    </div>
</div>
  
</div>
</section>
