<section class="category">
    <h2><strong>Category</strong></h2>
    <div class="row">
        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Electronics</h4>
                    <a href="subcat">
                        <img class="item-img-top" src="assets/ele2.jpg" alt="item" width="60%" height="80%">
                    </a>
                   
                </div>
            </div>
        </div>
    



        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Clothes</h4>
                    <a href="subcat2">
                        <img class="item-img-top" src="assets/clo.jpg" alt="item" width="60%" height="80%">
                    </a>
                </div>
            </div>
        </div>
    



        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Accessories</h4>
                    <a href="subcat3">
                        <img class="item-img-top" src="assets/acc.jpg" alt="item" width="60%" height="70%">
                    </a>
                </div>
            </div>
        </div>

         
        
        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Groceries</h4>
                    <a href="subcat4">
                        <img class="item-img-top" src="assets/gro.jpg" alt="item" width="60%" height="60%">
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-4" style="width:50rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">PersonalCare</h4>
                    <a href="subcat5">
                        <img class="item-img-top" src="assets/pc1.jpg" alt="item" width="60%" height="60%">
                    </a>
                </div>
            </div>
        </div>
        
    </div>

</section>



