<div id="pc">
    <div class="card-column">
        <div class="item" style="width:300">
        <img class="item-img-top" src="assets/creams.jpg"alt="item">
        <div class="item-body">
            <h4 class="item-title">creams</h4>
            <a href="#cre" class="btn btn-primary">Select</a>
        </div>
        </div>
        
        <div class="item" style="width:300">
            <img class="item-img-top" src="assets/duo.jpg"alt="item">
            <div class="item-body">
                <h4 class="item-title">Duo</h4>
                
                <a href="#duo" class="btn btn-primary">Select</a>
            </div>
            
        </div>
    </div>
</div>