<section class="product">
    <h2><strong>Products</strong></h2>
  <div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/bag1.jpg" alt="item" height="300" width="300">
                <h5 class="card-title">HANDBAG</h5>
                
                <a href="prdt8" class="btn btn-primary" routerLink="/Select">Select</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/bag2.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">SIDE BAG</h5>
                
                <a href="prdt8" class="btn btn-primary" routerLink="/Select">Select</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/bag3.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">SLING TOTE</h5>
               
                <a href="prdt8" class="btn btn-primary" routerLink="/Select">Select</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/bag4.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">BACKPACK</h5>
             
              <a href="prdt8" class="btn btn-primary" routerLink="/Select">Select</a>
          </div>
      </div>
  </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/bag5.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">TOTE BAG</h5>
               
                <a href="prdt8" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
  
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/bag6.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">CLUTCH BAG</h5>
                <a href="prdt8" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
    
  </div>
  </section>
  