<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <img src="assets/logo.jpg" width="40px" height="40px" style="float:left;" />
  <a class="navbar-brand" href="#"> EMART</a>

  <button class="navbar-toggler" type="button"
    data-toggle="expand" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ol class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="existinguser">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="newuser">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cat">Category</a>
      </li>
       <!-- <li class="nav-item">
        <a class="nav-link" routerLink="subcat">SubCategories</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="subcat2">SubCategory2</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="subcat3">SubCategory3</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="subcat4">SubCategory4</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="subcat5">SubCategory5</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="prdt">Product</a>
      </li>  -->
      <li class="nav-item">
        <a class="nav-link" routerLink="cart">Cart</a>
      </li> 
      <li class="nav-item" align="right">
        <a class="nav-link" routerLink="contact">ContactUs</a>
      </li>
    </ol>
    </div>

    <div class="md-form mt-0" align="right">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
</nav>

<router-outlet> </router-outlet>
<footer class="container-fluid bg-dark fixed-bottom p-1 text-light">
  &copy; All rights reserved @2020
</footer>