<section class="product">
    <h2><strong>Products</strong></h2>
<div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/sho5.jpg" alt="item" height="300" width="300">
                <h5 class="card-title">LOAFERS</h5>
                
                <a href="prdt7" class="btn btn-primary" routerLink="/Select">Select</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/sho6.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">CROCS</h5>
                
                <a href="prdt7" class="btn btn-primary" routerLink="/Select">Select</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/sho3.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">HEELS</h5>
               
                <a href="prdt7" class="btn btn-primary" routerLink="/Select">Select</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/shoe4.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">SHOES</h5>
               
                <a href="prdt7" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/shoe1.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">SNEAKERS</h5>
               
                <a href="prdt7" class="btn btn-primary" routerLink="/Select">Select</a>
            </div>
        </div>
    </div>
    
</div>
</section>
