<section class="product">
  <h2><strong>Products</strong></h2>
<div class="row">
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body"  >
              <img class="item-img-top" src="assets/mens1.jpg" alt="item" height="300" width="300">
              <h5 class="card-title">CASUALS</h5>
              
              <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/mens2.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">BLAZERS</h5>
              
              <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/mens3.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">FULL TEES</h5>
             
              <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
    <div class="card text-black bg-color:white">
        <div class="card-body">
            <img class="item-img-top" src="assets/mens4.jpg" alt="item"height="300" width="300">
            <h5 class="card-title">FORMALS</h5>
           
            <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
        </div>
    </div>
</div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/mens5.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">FORMAL SHIRTS</h5>
             
              <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
          </div>
      </div>
  </div>

  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/mens6.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">TROUSERS</h5>
              <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
    <div class="card text-black bg-color:white">
        <div class="card-body">
            <img class="item-img-top" src="assets/mens7.jpg" alt="item"height="300" width="300">
            <h5 class="card-title">TSHIRTS</h5>
            <a href="prdt4" class="btn btn-primary" routerLink="/Select">Select</a>
        </div>
    </div>
</div>

</div>
</section>
