.container{
    margin-top: 100PX;
    }
    .newarrival{
    background: green;
    width: 50px
    
    
    }
    .col-md-7 h2{
    
        background-color: white;
    }
    .starts{
        height: 75px;
    }