<section class="sub categories">
    <h2><strong>Sub Categories</strong></h2>
    
        <div class="row">
            <div class="col-sm-4" style="width:90rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body" >
            <h4 class="item-title">Mobiles</h4>
            <a href="prdt">
                <img class="item-img-top" src="assets/mob.jpg" alt="item" width="60%" height="92%">
            </a>
        </div>
        </div>
            </div>



        <div class="col-sm-5" style="width:80rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">Laptops</h4>
                    <a href="prdt2">
                      <img class="item-img-top" src="assets/laptop.jpg"alt="item" width="60%" height="70%">
                    </a>
            </div>
            </div>
            </div>
            




            <div class="col-sm-5" style="width:50rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body" >
                        <h4 class="item-title">Tv</h4>
                        <a href="prdt">
                          <img class="item-img-top" src="assets/tv.jpg"alt="item" width="60%" height="60%">
                        </a>
                </div>
                </div>
                </div>

           
                <div class="col-sm-5" style="width:50rem;">
                    <div class="card text-black bg-color:white">
                        <div class="card-body" >
                            <h4 class="item-title">Washing Machine</h4>
                            <a href="prdt">
                              <img class="item-img-top" src="assets/washingmachine.jpg"alt="item" width="60%" height="70%">
                            </a>
                        </div>
                    </div>   
                </div>

        </div>
</section>

    