<section class="sub categories">
    <h2><strong>Sub Categories</strong></h2>
       <div class="row">
            <div class="col-sm-4" style="width:20rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body" >
                    <h4 class="item-title">Womens Wear</h4>
                    <a href="prdt3">
                        <img class="item-img-top" src="assets/womens.jpg" alt="item" width="60%" height="90%">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="width:20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                <h4 class="item-title">Gents Wear</h4>
                <a href="prdt4">
                    <img class="item-img-top" src="assets/gents1.jpg" alt="item" width="80%" height="90%">
                </a>
                </div>
            </div>
       </div>   
       <div class="col-sm-4" style="width:20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body" >
            <h4 class="item-title">Kids Wear</h4>
            <a href="prdt5">
                <img class="item-img-top" src="assets/kidswear.jpg" alt="item" width="60%" height="90%">
            </a>
           </div>
        </div>
        </div>
        <div class="col-sm-4" style="width:20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                <h4 class="item-title">Sports Wear</h4>
                <a href="prdt6">
                    <img class="item-img-top" src="assets/sports.jpg" alt="item" width="60%" height="90%">
                </a>
               </div>
            </div>
            </div>

    </div>
</section>