<section class="sub categories">
    <h2><strong>Sub Categories</strong></h2>
       <div class="row">
            <div class="col-sm-5" style="width:20rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body" >
                    <h4 class="item-title">Sandals</h4>
                    <a href="prdt7">
                        <img class="item-img-top" src="assets/shoes.jpg" alt="item" width="60%" height="90%">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="width:20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                <h4 class="item-title">Bags</h4>
                <a href="prdt8">
                    <img class="item-img-top" src="assets/bags.jpg" alt="item" width="60%" height="90%">
                </a>
                </div>
            </div>
       </div>   
       <div class="col-sm-4" style="width:20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body" >
            <h4 class="item-title">Jewellery</h4>
            <a href="prdt9">
                <img class="item-img-top" src="assets/jewel.jpg" alt="item" width="60%" height="90%">
            </a>
           </div>
        </div>
        </div>
        <div class="col-sm-5" style="width:20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                <h4 class="item-title">Watches</h4>
                <a href="prdt10">
                    <img class="item-img-top" src="assets/wtch.jpg" alt="item" width="60%" height="90%">
                </a>
               </div>
            </div>
            </div>

    </div>
</section>